<html>
	<body>
		<h1>AMC Manager | Регистрация</h1>
		<p>Здравей,</p>
		<p>Получаваш този мейл, защото
			{{companyName}}
			те регистрира като служител в AMC Manager.</p>
		<p>Довърши регистрацията си, за да можеш да ползваш системата пълноценно:</p>
		<a href="{{registrationLink}}">Довърши регистрацията</a>
	</body>
</html>